<!DOCTYPE html>
<html lang="en">
  

  <body>

<div class="row mt">
  <h3><i class="fa fa-angle-right"></i> Ranking de Proveedores por Producto</h3>
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
        <form class="style-form" role="form">
          <div class="form-group">
          
            <div class="col-lg-3" {{bind-attr class="errors.iva:has-error errors.iva:has-feedback"}}>
            
                 <label class="form-label" for="iva">Año</label>
                  {{view Ember.Select content=anhos 
                  selection=anho
                  classNames="form-control"}}
                
                {{#if errors.iva}}
                   <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
            </div>
            <div class="col-lg-6" {{bind-attr class="errors.roles:has-error errors.roles:has-feedback"}}>
                <label class="form-label"  for="items">Convocantes</label>
                {{view Bursa.views.TagWidgetView 
                       service='items'
                       modelType='item'
                       modelID='id'
                       itemText='producto_descripcion' 
                       itemValue='id'
                       queryScope='by_convocante'
                       session=session
                       datasource=items
                       jsonRoot='items'}}
                {{#if errors.roles}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
             <div class="col-lg-3" style="padding-top: 22px;">

                <button type= "button" onclick="graficar2('tipos');" class="btn btn-theme">Generar</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 
  <div id="grafico2"  class="panel panel-default" style="display:none;">
      <div class="panel-body">
        <div id="section-to-print" style="height: 100%;">
                    
          <div class="panel-body">
            <div class="chart" style="height: 550px; position: relative;">
              <div id="col1">&#160;</div>
              <div id="barChart"></div>
              <div id="detalleChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- page end-->


  </body>
</html>
