
<div id="login-page">
      <div class="container">
          <form class="form-login" role="form" autocomplete="on" {{action "authenticate" on="submit"}}>
            <h2 class="form-login-heading">{{formTitle}}</h2>

            <div class="login-wrap">
              <div class="form-group" {{bind-attr class="errorMessage:has-error errorMessage:has-feedback"}}>
                  <label class="form-label">Usuario o Email</label>
                  {{focus-input type="text" id="username"value=identification class="form-control" placeholder="Usuario o Email"}}
                  {{#if errorMessage}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
              </div>
              <div class="form-group" {{bind-attr class="errorMessage:has-error errorMessage:has-feedback"}}>
                  <label class="form-label">Contraseña</label>
                  {{input type="password" id="password" value=password class="form-control" placeholder="Contraseña"}}
                  <span class="help-block">{{errorMessage}}</span>
                  {{#if errorMessage}}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                  {{/if}}
              </div>
            <br>

              <div class="form-group">  
                <button type="submit" class="btn btn-theme btn-block"><i class="fa fa-lock"></i> Aceptar</button>
              </div>

               <div class="form-group">  
                {{#link-to 'sessions.newuser'}}
                <button class="btn btn-theme btn-block"><i></i> Nuevo Usuario</button>
                {{/link-to}}
              </div>

            <br>
            </div>
          </form>
    </div>
  </div>
<!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    {{!--<script type="text/javascript" src="assets/theme/jquery.backstretch.min.js"></script>--}}
    
    {{!-- --}}
    {{#if session.isAuthenticated}}
      <script>
          $('#main-content').backstretch("destroy", false);
      </script>
   
    {{else}}

     <script>
        $('#main-content').backstretch("<%=asset_path("theme/login-bg.jpg")%>", {speed: 500});
    </script>


    {{/if}}
